<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.bht.fpa.mail.s798158.filter.commands.category"
            name="Filter">
      </category>
      <command
            categoryId="de.bht.fpa.mail.s798158.filter.commands.category"
            id="de.bht.fpa.mail.s798158.filter.commands.ConfigureFilter"
            name="Configure Filter...">
      </command>
      <command
            categoryId="de.bht.fpa.mail.s798158.filter.commands.category"
            id="de.bht.fpa.mail.s798158.filter.commands.ClearFilter"
            name="Clear...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.bht.fpa.mail.s798158.filter.handlers.ConfigureFilterHandler"
            commandId="de.bht.fpa.mail.s798158.filter.commands.ConfigureFilter">
      </handler>
            <handler
            class="de.bht.fpa.mail.s798158.filter.handlers.ClearFilterHandler"
            commandId="de.bht.fpa.mail.s798158.filter.commands.ClearFilter">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.bht.fpa.mail.s798158.filter.commands.ConfigureFilter"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+8">
      </key>
      <key
            commandId="de.bht.fpa.mail.s798158.filter.commands.ClearFilter"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+9">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.bht.fpa.mail.s798158.filter.menus.FilterMenu"
               label="Filter"
               mnemonic="F">
            <command
                  commandId="de.bht.fpa.mail.s798158.filter.commands.ConfigureFilter"
                  id="de.bht.fpa.mail.s798158.filter.menus.ConfigureFilter"
                  mnemonic="C">
            </command>
            <command
                  commandId="de.bht.fpa.mail.s798158.filter.commands.ClearFilter"
                  id="de.bht.fpa.mail.s798158.filter.menus.ConfigureFilter"
                  mnemonic="X">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.bht.fpa.mail.s798158.filter.toolbars.sampleToolbar">
            <command
                  commandId="de.bht.fpa.mail.s798158.filter.commands.ConfigureFilter"
                  icon="icons/sample.gif"
                  id="de.bht.fpa.mail.s798158.filter.toolbars.ConfigureFilter"
                  tooltip="Configure Filter...">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
